@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

html{
height: 100%;
}
body{
width: 100%;
margin: 0;
font-family: poppins, Helvetica, sans-serif;
font-weight: 400;
background:#383732;
color:rgb(248, 239, 239); 
}
.container{
margin: 0 auto;
width: 100%;
max-width: 1140px;
text-align: center;
font-size: 0;
}
h2.title{
position: relative;
margin-bottom: 15px;
padding-bottom: 15px;
font-size: 30px;
}
h2.title::after{
position: absolute;
content: '';
width: 50px;
height: 3px;
left: calc(50% - 25px);
bottom: 0;
background: #222222;
}

/* Button Css */

.btn{
position: relative;
display: inline-block;
margin: 15px;
padding: 15px 30px;
text-align: center;
font-size: 16px;
letter-spacing: 1px;
text-decoration: none;
color: #ffffff;
background: rgb(175, 60, 179);
border: none;
border-radius: 50px;
cursor: pointer;
transition: ease-out 0.5s;
}

/* Slide 1 */
.btn.btn-slide-1{
box-shadow: inset 0 0 0 0 #f0cc9b;
}
.btn.btn-slide-1:hover{
box-shadow: inset 0 100px 0 0 #bb590a;
}

/* Slide 2 */
.btn.btn-slide-2{
box-shadow: inset 0 0 0 0 #c8d192;
}
.btn.btn-slide-2:hover{
box-shadow: inset 0 -100px 0 0 #98d40b;
}

/* Slide 3 */
.btn.btn-slide-3{
box-shadow: inset 0 0 0 0 #819cbe;
}
.btn.btn-slide-3:hover{
box-shadow: inset 200px 0 0 0 #1486d3;
}
/* Slide 4 */
.btn.btn-slide-4{
box-shadow: inset 0 0 0 0 #9f8ddd;
}
.btn.btn-slide-4:hover{
box-shadow: inset -200px 0 0 0 #7307d1;
}

/* Slide 5 */
.btn.btn-slide-5{
box-shadow: inset 0 0 0 0 #c2868d;
}
.btn.btn-slide-5:hover{
box-shadow: inset 0 0 0 50px #cf1010;
}

/* Slide 6 */
.btn.btn-slide-6{
background: rgb(179, 60, 169);
box-shadow: inset 0 0 0 50px rgb(60, 151, 179);
}
.btn.btn-slide-6:hover{
box-shadow: inset 0 0 0 0 #959099;
}

/* Slide 7 */
.btn.btn-slide-7{
box-shadow: inset 0 0 0 0 #6e886a;
}
.btn.btn-slide-7:hover{
box-shadow: inset 200px 50px 0 0 #2caa0a;
}

/* Slide 8 */
.btn.btn-slide-8{
box-shadow: inset 0 0 0 0 #abb183;
}
.btn.btn-slide-8:hover{
box-shadow: inset -200px -50px 0 0 #b3da0a;
}

/* Slide 9 */
.btn.btn-slide-9{
box-shadow: inset 0 0 0 0 #607691;
}
.btn.btn-slide-9:hover{
box-shadow: inset 0 0 200px 0 #045fcf;
}

/* Slide 10 */
.btn.btn-slide-10{
background: #27c009;
box-shadow: inset 0 0 200px 0 rgb(240, 71, 10);
}
.btn.btn-slide-10:hover{
box-shadow: inset 0 0 0 0 rgb(224, 226, 187);
}
